# Exploratory Data Analysis

### Imports

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load SCB classifications & Preprocess

classifications = pd.read_excel('../data/SCB_classifications_raw.xlsx',  index_col=0)
classifications['Label Sv'] = classifications['Label Sv'].str.strip()
classifications['Label En'] = classifications['Label En'].str.strip()

classifications['Label Sv'] = classifications['Label Sv'].str.lower()
classifications['Label En'] = classifications['Label En'].str.lower()

In [93]:
classifications.to_excel('../data/SCB_classifications.xlsx')

In [3]:
classifications = pd.read_excel('../data/SCB_classifications.xlsx',  index_col=0)

In [4]:
classifications

                    Label Sv                                   Label En
1             naturvetenskap                           natural sciences
101                matematik                                mathematics
10101      matematisk analys                      mathematical analysis
10102               geometri                                   geometry
10103      algebra och logik                          algebra and logic
...                      ...                                        ...
605          annan humaniora                           other humanities
60501         antikvetenskap  classical archaeology and ancient history
60502          kulturstudier                           cultural studies
60503               etnologi                                  ethnology
60599  övrig annan humaniora   other humanities not elsewhere specified

[308 rows x 2 columns]

In [5]:
# Load  data
data = pd.read_excel('../data/Finansierade projekt.xlsx')

# Output first five rows
print(data.shape)
data.head(1)

/Users/evaengel/comparison_NLP_classification_models/.venv/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

(7343, 13)

,Project ID,Title Sv,Title En,Description,Description En,Open Date,Close Date,Budget of Project,Research fields,Financier,Receive org,Project leader,Project url
0,1,"Judith Jack Halberstam, Columbia University, N...","Judith Jack Halberstam, Columbia University, N...",NaN,"Jack Halberstam (Legal name Judith, legal gend...",2022-01-01T23:59:59Z,2022-12-31T23:59:59Z,1695027,"social sciences , Humanities and the Arts , So...",Swedish Research Council,Lund University,"Esteban Arboix, Jens Rydström, Stig Wall, Jens...",https://www.ymner.com/sv/funded-projects/judit...

In [66]:
data = data[['Title Sv','Title En','Description','Description En','Research fields']]

In [ ]:
def preprocess_classification(data_classification: str):

In [121]:
def get_classification_id(data_classification: str):

    research_fields = data_classification.split(', ')   #TODO: need to take care of single classifications that contain comma

    research_fields = list({x.lower().strip() for x in research_fields})
    print(research_fields)
    research_mapping = dict()

    for field in research_fields:
        classification_id = classifications.index[classifications['Label En'] == field][0]
        research_mapping[classification_id] = field

    finest_classification = research_mapping

    return finest_classification

In [122]:
get_classification_id(data_classification = data['Research fields'][0])

['humanities and the arts', 'social sciences']

{6: 'humanities and the arts', 5: 'social sciences'}

In [123]:
data['Research fields']

0       social sciences , Humanities and the Arts , So...
1                     natural sciences , Natural Sciences
2       engineering and technology , Engineering and T...
3                                 Humanities and the Arts
4       natural sciences , engineering and technology ...
                              ...
7338    natural sciences , social sciences , Natural S...
7339    natural sciences , social sciences , Humanitie...
7340                              Humanities and the Arts
7341                              Humanities and the Arts
7342        Natural Sciences , Engineering and Technology
Name: Research fields, Length: 7343, dtype: object

In [68]:
research_fields = data['Research fields'].str.split(', ', expand=True)
research_fields

,0,1,2,3,4,5
0,social sciences,Humanities and the Arts,Social Sciences,None,None,None
1,natural sciences,Natural Sciences,None,None,None,None
2,engineering and technology,Engineering and Technology,None,None,None,None
3,Humanities and the Arts,None,None,None,None,None
4,natural sciences,engineering and technology,Natural Sciences,Engineering and Technology,None,None
...,...,...,...,...,...,...
7338,natural sciences,social sciences,Natural Sciences,Social Sciences,None,None
7339,natural sciences,social sciences,Humanities and the Arts,Natural Sciences,Social Sciences,None
7340,Humanities and the Arts,None,None,None,None,None
7341,Humanities and the Arts,None,None,None,None,None
7342,Natural Sciences,Engineering and Technology,None,None,None,None